node_modules/
npm-debug.log
yarn-error.log

dist/
build/
out/
lib/
controllers/
contexts/
models/
*.log.*

.vscode/
.settings/

.idea/
*.iml

.sublime-project
.sublime-workspace

.vs/
*.suo
*.ntvs*

.env.development
.env.test
.env.production
apiKey.json

coverage/
.nyc_output/

.DS_Store
Thumbs.db
.cache/
.log/
